.postListRoot {
  @media screen and (min-width: 750px) {
    display: flex;
    margin: 5rem 20%;
    border-radius: 1rem;
    min-height: 40vh;
    border: 1px solid lightgrey;
    background: white;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 750px) {
    justify-content: center;
    align-items: center;
    display: flex;
    background: white;
    margin: 1rem 5%;
    min-height: 15rem;
  }
}